<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title><%=((typeof titulo === "undefined" || !titulo) ? "MyProtiviti " : (titulo + " - MyProtiviti")) %></title>

	<%- include("cabecalho") %>

	<%- defineContent("styles") %>
</head>
<body>

	<%- include("navbar") %>

	<div id="page-wrapper">

		<%- body %>

	</div>

	<%- include("rodape") %>

	<%- defineContent("scripts") %>
</body>
</html>
 