<div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <form id="form" class="panel panel-default" action="#">
            <div class="panel-heading">Criar Nova Indicação de Oportunidade</div>
            <div class="panel-body no-bottom">
                <input type="hidden" id="id_oportunidade" name="id_oportunidade" value="<%=(item ? item.id_oportunidade : 0) %>" />
                <div class="form-group">
                    <label for="empresa_oportunidade">Nome da empresa</label>
                    <input id="empresa_oportunidade" name="empresa_oportunidade" maxlength="150" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.empresa_oportunidade : '') %>" />
                </div>

                <div class="form-group">
                    <label for="contato_oportunidade">Contato</label>
                    <input id="contato_oportunidade" name="contato_oportunidade" maxlength="100" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.contato_oportunidade : '') %>" />
                </div>

                <div class="form-group">
                    <label for="tel_oportunidade">Telefone</label>
                    <input id="tel_oportunidade" name="tel_oportunidade" maxlength="30" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.tel_oportunidade : '') %>" />
                </div>

                <div class="form-group">
                    <label for="email_oportunidade">E-mail</label>
                    <input id="email_oportunidade" name="email_oportunidade" maxlength="100" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.email_oportunidade : '') %>" />
                </div>

                <div class="form-group">
                    <label for="id_solucao">Soluções</label>
                    <select id="id_solucao" name="id_solucao" class="form-control" size="1">
                        <option value="">SELECIONE...</option>
                        <option value="1" <%=(item && item.id_solucao == 1 ? 'selected="selected"' : '')%>>Transformação digital</option>
                        <option value="2" <%=(item && item.id_solucao == 2 ? 'selected="selected"' : '')%>>Cultura e Comportamento Ético</option>
                        <option value="3" <%=(item && item.id_solucao == 3 ? 'selected="selected"' : '')%>>LGPD/ GDPR</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="descricao_oportunidade">Descrição da oportunidade</label>
                    <textarea class="form-control" rows="5" id="descricao_oportunidade" name="descricao_oportunidade" spellcheck="true"><%=(item ? item.descricao_oportunidade : '') %></textarea>
                </div>

            </div>
            <div class="panel-footer">
                <input value="Criar" class="btn btn-primary btn-lg btn-block" type="submit" />
            </div>

        </form>
    </div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
    //<![CDATA[
    "use strict";

    $("#form").validate({
        rules: {
            empresa_oportunidade: {
                required: true,
                minlength: 3,
                maxlength: 150
            },

            contato_oportunidade: {
                maxlength: 100
            },

            tel_oportunidade: {
                maxlength: 30
            },

            email_oportunidade: {
                maxlength: 100
            },

            id_solucao: {
                required: true
            },

            descricao_oportunidade: {
                maxlength: 250
            },
        },

        submitHandler: function (form) {
            if (JsonWebApi.active)
                return;

            Notification.wait();

            //<% if (item) { %>

            JsonWebApi.postFormData("/api/oportunidade/alterar", form, function (response) {
				if (response.success)
					Notification.success("Oportunidade alterada com sucesso! \uD83D\uDE04");
				else
					Notification.error(response.value, true);
            });

            //<% } else { %>

            JsonWebApi.postFormData("/api/oportunidade/criar", form, function (response) {
				if (response.success) {
					form.reset();
					$("#form").validate().resetForm();
					Notification.success("Oportunidade criada com sucesso! \uD83D\uDE04");
				} else {
					Notification.error(response.value, true);
				}
            });

            //<% } %>
        }
    });
    //]]>
</script>
